@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  font-family: 'Architects Daughter', cursive;
}

table {
    border: none;
    border-collapse: collapse;
  }
  table td {
    border: none;
    text-align: center;
    padding: 5px;
    width: 150px;
    height: 50px;
  }
  input {
    width: 98%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: large;
  }

 #result {
    border-radius: 14px;
    background-color: #ccc;
  }